{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

{{ end -}}
source ~/.zsh/config.zsh
source ~/.zsh/completion.zsh
source ~/.zsh/plugins.zsh
source ~/.zsh/aliases.zsh
source ~/.zsh/claude.zsh

eval "$(starship init zsh)"

[[ -f ~/.zsh/ai.zsh ]] && source ~/.zsh/ai.zsh
[[ -f ~/.secrets.zsh ]] && source ~/.secrets.zsh
[[ -f ~/.localrc ]] && source ~/.localrc

# Hermes Agent command
export PATH="$HOME/.local/bin:$PATH"
